body {
  font-family: Montserrat;
}

.bgred {
  background-color: #CC3941;
  height: 940px;
}

.topic {
  color: #333333;
  text-align: center;
  font-weight: bold;
  font-size: 65px;
}

.office {
  color: #333333;
  font-size: 30px;
}

.address {
  color: #333333;
  font-size: 27px;
  font-family: Montserrat;
  line-height: 1.3;
}

.icon {
  color: #333333;
  margin-left: 30px;
  font-size: 55px;
}

.share {
  font-family: Montserrat;
  font-size: 26px;
  margin-left: 10px;
  margin-top: 3px;
  color: white;
}

.email {
  
  color: white;
}

.map-container {
  overflow: hidden;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 350px;
  width: 1300px;
}

.submitbtn {
  font-family: Montserrat;


  background-color: #cc3941;
  border-color: white;
  border-width: 2px;
  color: white;
  width: 100%;
  height: 50px;
}

.padding {
  padding: 10px 75px 0 75px;
}

.pic {
  max-width: 250px;
  width: 50%;
  height: auto;
}

.thai{

  height: auto; width: 50%;max-width: 30px;

}

.tel{

  padding: 5px 0 0 30px;
}

.textarea {
  resize: none;
}

#submit{
border: 3px solid #F2F2F2;
box-sizing: border-box;
border-radius: 5px;
}

.button{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;

  
  color: #FFFFFF;
}

.phone{

  margin-left: 30px;
}

.reach{
  color: white;

}

