.Seemore {
    font-weight: bold;
    color: #4d82b4;
}
.Seemore:visited{
    font-weight: bold;
    color: #4d82b4;
}
a.facebookmorelink{
    text-decoration: none;
    outline: none;
}
.morecontent span {
    display: none;
}
.viewpost-btn {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    color: #4d82b4;
    border: 2px solid #4d82b4;
    border-radius: 5px;
    height: 40px;
}

.button1:hover {
    background-color: #ffffff86;
}

.padding-page{
    padding: 0 150px 30px 150px;
}
.title-blog{
    font-weight: 900;
    font-size: 65px;
    line-height: 100px;
}
.title-blog-padding{
    padding: 25px 0 25px 0; 
}
.padding-img-machine{
    padding: 10px 0 10px 30px;
}
.images-machine-small{
    height: 65px;
}
.title-speedwash{
    padding: 20px 0px 10px 20px;
    font-size: 18px;
    line-height: 24px;
}
.padding-between-box{
    padding: 0 0 50px 0;
}
.color-speedwash{
    color: #4d82b4;
}
.post-img{
    width: 100%;
}
.post-text{
    padding: 20px 10px 30px 20px;
}
.img-border {
    border: 1px solid #c4c4c4;
}
.box-card{
    margin: auto;
    height: fit-content;
    width: 480px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}


@media only screen and (max-width: 1366px) {
    .title-blog{
        font-size: 72px;
    }
    .title-blog-padding{
        padding: 20px 0 30px 0; 
    }
    .padding-page{
        padding: 0 0 60px 0;
    }
    .padding-between-box{
        padding: 0 0 40px 0;
    }
    .post-text{
        padding: 20px 10px 30px 10px;
        font-size: 12px;
    }
    .title-speedwash{
        padding: 15px 0px 10px 50px;
        font-size: 16px;
        line-height: 24px;
    }
    .box-card{
        margin: auto;
        width: 90%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .title-blog{
        font-size: 72px;
    }
    .title-blog-padding{
        padding: 20px 0 30px 0; 
    }
    .padding-page{
        padding: 0 0 60px 0;
    }
    .padding-between-box{
        padding: 0 0 40px 0;
    }
    .post-text{
        padding: 20px 10px 30px 10px;
        font-size: 12px;
    }
    .title-speedwash{
        padding: 15px 0px 10px 50px;
        font-size: 16px;
        line-height: 24px;
    }
    .box-card{
        margin: auto;
        width: 90%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .title-blog{
        font-size: 58px;
    }
    .padding-page{
        padding: 0 50px 60px 50px;
    }
    .padding-between-box{
        padding: 0 0 40px 0;
    }
    .post-text{
        padding: 20px 20px 30px 20px;
        font-size: 16px;
    }
    .box-card{
        margin: auto;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 414px) {
    .title-blog{
        font-size: 45px;
    }
    .title-blog-padding{
        padding: 10px 0 10px 0; 
    }
    .title-blog{
        font-weight: 900;
        font-size: 60px;
        line-height: 100px;
    }
    .title-speedwash{
        padding: 17px 0px 10px 35px;
        font-size: 16px;
    }
    .padding-page{
        padding: 0px 10px 60px 10px;
    }
    .padding-between-box{
        padding: 0 0 40px 0;
    }
    .post-text{
        padding: 20px 10px 30px 10px;
        font-size: 13px;
    }
    .box-card{
        margin: auto;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .title-blog-padding{
        padding: 10px 0 10px 0; 
    }
    .title-blog{
        font-weight: 900;
        font-size: 60px;
        line-height: 100px;
    }
    .title-speedwash{
        padding: 15px 0px 10px 40px;
        font-size: 16px;
    }
    .padding-page{
        padding: 0px 10px 60px 10px;
    }
    .padding-between-box{
        padding: 0 0 40px 0;
    }
    .post-text{
        padding: 20px 10px 30px 10px;
        font-size: 13px;
    }
    .box-card{
        margin: auto;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 320px) {
    .title-blog-padding{
        padding: 20px 0 10px 0; 
    }
    .title-blog{
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
    }
    .title-speedwash{
        padding: 17px 0px 10px 45px;
        font-size: 15px;
    }
    .padding-page{
        padding: 0px 10px 60px 10px;
    }
    .padding-between-box{
        padding: 0 0 20px 0;
    }
    .post-text{
        padding: 20px 10px 30px 10px;
        font-size: 11px;
    }
    .box-card{
        margin: auto;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
    }
}