body {
    font-family: Montserrat,
}

::-webkit-input-placeholder {
    /* Edge */
    color: white;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::placeholder {
    color: white;
}

.contact-map {
    height: 345px;
    width: 100%;
}

.input {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: #cc3941;
}

.input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: #cc3941;
}
  
.input-padding {
    padding: 10px 75px 0 75px;
}


.input-qeustion {
    height: auto;
}

.bgred {
    background-color: #cc3941;
    height: auto;
}

.topic {
    color: #333333;
    padding: 0 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
}

.office {
    color: #333333;
    font-size: 30px;
}

.address {
    font-weight: initial;        
    color: #333333;
    font-size: 27px;
    line-height: 40px;
}


.share {        
    font-weight: initial;        
    font-size: 27px;
    margin-left: 10px;
    margin-top: 3px;
    color: white;
    line-height: 50px;
}

.contact-icon {
    color: #333333;
    padding: 0 0 0 20px;
    font-size: 55px;
}

.machine {
    max-width: 300px;
    width: 80%;
}

.thai {
    height: auto;
    width: 80%;
    max-width: 60px;
}

.tel {
    padding: 5px 0 0 30px;
}

.textarea {
    resize: none;
}

.reach {
    color: white;
}

.button1 {
    font-weight: bold;
    font-size: 20px;
    background-color: #cc3941;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    width: 100%;
    height: 70px;
}

.button1:hover {
    background-color: #ca707586;
}

.margin-logo {
    margin: -60px 0 0 -15px;
}

@media only screen and (max-width: 1024px) {
    .contact-icon {
        font-size: 74px;
    }
    .machine {
        max-width: 300px;
        width: 50%;
    }
    .address {
        color: #333333;
        font-size: 32px;
        line-height: 44px;
    }
    .tel-padding {
        padding: 5px 0 0 0;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 65px;
    }
    .share {
        font-size: 32px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 46px;
    }
    .input {
        font-size: 24px;
    }
    .map-padding {
        padding-bottom: 10px;
    }
    .contact-map {
        height: 300px;
        width: 100%;
    }
    .margin-logo {
        margin: -50px 0 0 -15px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-icon {
        font-size: 60px;
    }
    .machine {
        max-width: 400px;
        width: 55%;
    }
    
    .address {
        font-weight: initial;        
        color: #333333;
        font-size: 28px;
        line-height: 40px;
    }
    .tel-padding {
        padding: 5px 0 0 0;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 58px;
    }
    .share {
        font-size: 28px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 36px;
    }
    .input {
        font-size: 16px;
    }
    .margin-logo {
        margin: -70px 0 0 -15px;
        }
}

@media only screen and (max-width: 736px) {
    .contact-icon {
        font-size: 60px;
    }
    .machine {
        max-width: 400px;
        width: 55%;
    }
    
    .address {
        font-weight: initial;        
        color: #333333;
        font-size: 26px;
        line-height: 40px;
    }
    .tel-padding {
        padding: 5px 0 0 0;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 58px;
    }
    .share {
        font-size: 26px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 36px;
    }
    .input {
        font-size: 16px;
    }
    .margin-logo {
        margin:-20px -20px 0 -15px;
        }
}
@media only screen and (max-width: 450px) {
    .contact-icon {
        font-size: 40px;
    }
    .machine {
        max-width: 200px;
        width: 70%;
    }
    .address {
        color: #333333;
        font-size: 20px;
        line-height: 40px;
    }
    .tel-padding {
        padding: 0 0 0 0;
        margin: -8px 0 0 -3px;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
    }
    .share {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 22px;
    }
    .input-padding {
        padding: 10px 20px 0 20px;
    }
    .button1 {
        font-weight: bold;
        font-size: 16px;
        background-color: #cc3941;
        color: white;
        border: 3px solid white;
        border-radius: 5px;
        width: 100%;
        height: 70px;
    }
    .margin-logo {
        margin: -30px -15px 0 -15px;
    }
}

@media only screen and (max-width: 414px) {
    .contact-icon {
        font-size: 40px;
    }
    .machine {
        max-width: 500px;
        width: 90%;
    }
    .address {
        color: #333333;
        font-size: 20px;
        line-height: 40px;
    }
    .tel-padding {
        padding: 0 0 0 0;
        margin: -8px 0 0 -3px;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
    }
    .share {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 22px;
    }
    .input-padding {
        padding: 10px 20px 0 20px;
    }
    .button1 {
        font-weight: bold;
        font-size: 16px;
        background-color: #cc3941;
        color: white;
        border: 3px solid white;
        border-radius: 5px;
        width: 100%;
        height: 70px;
    }
    .margin-logo {
        margin: -30px -15px 0 -15px;
    }
}

@media only screen and (max-width: 375px) {
    .contact-icon {
        font-size: 40px;
    }
    .machine {
        max-width: 500px;
        width: 90%;
    }
    .address {
        color: #333333;
        font-size: 20px;
        line-height: 40px;
    }
    .tel-padding {
        padding: 0 0 0 0;
        margin: -8px 0 0 -3px;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
    }
    .share {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 50px;
    }
    .office {
        color: #333333;
        font-size: 22px;
    }
    .input-padding {
        padding: 10px 20px 0 20px;
    }
    .button1 {
        font-weight: bold;
        font-size: 16px;
        background-color: #cc3941;
        color: white;
        border: 3px solid white;
        border-radius: 5px;
        width: 100%;
        height: 70px;
    }
    .margin-logo {
        margin: -10px -10px 0 -15px;
    }
}



@media only screen and (max-width: 320px) {
    .contact-icon {
        font-size: 40px;
        padding: 10px 0 0 20px;
    }
    .machine {
        max-width: 500px;
        width: 90%;
    }
    .address {
        color: #333333;
        font-size:18px;
        line-height: 30px;
        margin: 0px 0 -20px 0;
    }
    .tel-padding {
        padding: 0 0 0 0;
        margin: 9px 0 0 -3px;
    }
    .topic {
        color: #333333;
        padding: 0 0 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 45px;
    }
    .share {
        font-size: 13px;
        margin-left: 10px;
        margin-top: 3px;
        color: white;
        line-height: 18px;
    }
    .office {
        color: #333333;
        font-size: 22px;
    }
    .input-padding {
        padding: 10px 20px 0 20px;
    }
    .button1 {
        font-weight: bold;
        font-size: 14px;
        background-color: #cc3941;
        color: white;
        border: 3px solid white;
        border-radius: 5px;
        width: 100%;
        height: 70px;
    }
    .margin-logo {
        margin: -10px -20px 0 -15px;
    }
}

