.view-all {
    color: black;
}

.view-all:hover {
    color: black;
}
/* div{
    border: dashed;
} */
.img-carousel {
    height: 38vw;
    overflow: hidden;
}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.carousel-padding {
    padding: 20px;
}

.carousel-indicators .active {
    background-color: #FF3D3B;
}

.padding-branches {
    padding: 10px 0 10px 0;
}

.padding-word {
    padding: 10% 0 1% 0;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 2.3vw;
    line-height: 70px;
}

.title-image {
    text-align: center;
    max-width: 80%;
    width: 400px;
    height: auto;
}

.subtitle{
    text-align: center;
    font-weight: 900;
    font-size: 1.5vw;
}

.text {
    padding: 25px 40px 25px 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 50px;
}
.img-washing {
    width: 85%;
    padding: 50px 0 0 0;
    max-width: 1040px;
}
.padding-four-icon{
    padding: 40px 0 100px 0;
}
.title-icon{
    padding: 35px 0 0 0;
    font-size: 1.1vw;
    font-weight: bold;
}
.text-icon{
    padding: 20px 0 0 0;
    font-size: 1.1vw;
}
.mapOverlay{
    background-image: url("../images/img-map.png");
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.color-overlay {
    float: right;
    width: 50%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5); 
}
.map-text{
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 80px;
    padding: 15% 5% 0 5%;
    color: white;
}
.map-subtext{
    font-weight: bold;
    font-size: 1.7vw;
    line-height: 80px;
    padding: 0 5% 0 5%;
    color: white;
}
.padding-blog {
    padding: 100px 0 60px 260px;
}
.view-btn {
    padding: 0 130px 60px 0;
    font-weight: 900;
    font-size: 1.2vw;
}
.padding-img-blogs {
    padding: 0 0 40px 0;
}
.img-blogs {
    margin-left: auto;
    max-width: 400px;
    padding: 0 30px 0 0;
}
.text-blogs {
    max-width: 400px;
    padding: 0 0 0 30px;
    font-size: 0.8vw;;
}
.img-middle{
    text-align: right;
}
.text-middle{
    display: flex;
    align-items: center;
    height: 100%;
}
.padding-service{
    padding: 40px 0 20px 0;
}
.text-service{
    padding: 10px 10% 0px 10%;
    text-align: center;
    font-size: 1.3vw;
    line-height: 45px;
}
.carousel-service{
    width: 55vw;
    height: auto;
}
.carousel-control-prev-icon {
    width: 5vw;
    height: 5vw;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4d82b4' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    width: 5vw;
    height: 5vw;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%4d82b4' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.padding-Invest {
    padding: 100px 0 30px 0;
}
.text-invest {
    font-size: 1.2vw;
    padding: 20px 0 0 0;
}
.title-invest {
    padding-top: 60px;
    font-size: 1.5vw;
}
.padding-btn {
    padding: 50px 0 60px 0;
}
.Learnmore-btn {
    color: white;
    background: #6dcff6;
    font-weight: 900;
    font-size: 1.7vw;
    height: 5vw;
    width: 22vw;
    border-radius: 50px;
}
.padding-checkmark {
    padding: 30px 0 0 0;
}
.checkmark {
    width: 40px;
}

@media only screen and (max-width: 1440px) {
    .img-washing {
        padding: 25px 0 0 0;
        width: 80%;
    }
    .title-image{
        width: 70%;
        width: 300px;
    }
    .subtitle{
        line-height: 45px;
    }
    .text {
        padding-top: 10px;
        line-height: 35px;
    }
    .padding-four-icon{
        padding: 40px 0 70px 0;
    }
    .title-icon{
        padding: 25px 0 0 0;
        font-weight: bold;
    }
    .text-icon{
        padding: 15px 0 0 0;
    }
    .mapOverlay{
        height: 580px;
    }
    .map-text{
        line-height: 60px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 60px;
    }
    .padding-blog {
        padding: 80px 0 50px 195px;
    }
    .padding-img-blogs {
        padding: 0 0 40px 0;
    }
    .view-btn {
        padding: 0 100px 65px 0;
    }
    .img-blogs {
        margin-left: auto;
        max-width: 300px;
        padding: 0 30px 0 0;
    }
    .text-blogs {
        max-width: 300px;
        padding: 0 0 0 30px;
        font-size: 0.8vw;
    }
    .padding-Invest {
        padding: 80px 0 0 0;
    }
    .text-invest {
        font-size: 1.2vw;
        padding: 13px 0 0 0;
    }
    .title-invest {
        padding: 40px 0 0 0;
        font-size: 25px;
    }
    .checkmark {
        width: 30px;
    }
}

@media only screen and (max-width: 1366px) {
    .title {
        line-height: 50px;
    }
    .text {
        line-height: 30px;
    }
    .title-image{
        width: 60%;
        width: 280px;
    }
    .padding-four-icon{
        padding: 50px 0 70px 0;
    }
    .title-icon{
        padding: 25px 0 0 0;
        font-weight: bold;
    }
    .text-icon{
        padding: 15px 0 0 0;
    }
    .mapOverlay{
        height: 550px;
    }
    .map-text{
        line-height: 60px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 60px;
    }
    .padding-blog {
        padding: 80px 0 35px 190px;
    }
    .padding-img-blogs {
        padding: 0 0 40px 0;
    }
    .view-btn {
        padding: 0 100px 45px 0;
    }
    .img-blogs {
        margin-left: auto;
        max-width: 300px;
        padding: 0 25px 0 0;
    }
    .text-blogs {
        max-width: 300px;
        padding: 0 0 0 25px;
        font-size: 0.8vw;
    }
    .padding-Invest {
        padding: 80px 0 20px 0;
    }
    .text-invest {
        padding: 10px 0 0 0;
    }
    .title-invest {
        padding: 35px 0 0 0;
    }
    .checkmark {
        width: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .img-carousel {
        height: 500px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 80%;
    }
    .title-image{
        width: 60%;
        width: 220px;
    }
    .subtitle {
        line-height: 30px;
    }
    .text {
        line-height: 30px;
    }
    .padding-four-icon{
        padding: 50px 0 50px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
    }
    .text-icon{
        padding: 10px 0 0 0;
    }
    .mapOverlay{
        height: 420px;
    }
    .map-text{
        line-height: 40px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 40px;
    }
    .padding-blog {
        padding: 60px 0 30px 120px;
    }
    .padding-img-blogs {
        padding: 0 0 20px 0;
    }
    .view-btn {
        padding: 0 50px 40px 0;
        font-weight: 900;
    }
    .img-blogs {
        margin-left: auto;
        max-width: 250px;
        padding: 0 20px 0 0;
    }
    .text-blogs {
        max-width: 250px;
        padding: 0 0 0 20px;
        font-size: 0.9vw;
    }
    .img-middle{
        text-align: right;
    }
    .text-middle{
        height: 100%;
    }
    .padding-service{
        padding: 40px 0 10px 0;
    }
    .text-service{
        padding: 0 10% 0px 10%;
        line-height: 25px;
    }
    .padding-Invest {
        padding: 80px 0 0 0;
    }
    .text-invest {
        padding: 15px 0 0 0;
    }
    .title-invest {
        font-size: 18px;
        padding: 30px 0 0 0;
    }
    .padding-btn {
        padding: 35px 0 20px 0;
    }
    .padding-checkmark {
        padding: 0 20px 0 0;
    }
    .checkmark {
        width: 20px;
    }
}

@media only screen and (max-width: 812px) {
    .img-carousel {
        height: 350px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 170px;
    }
    .title {
        line-height: 30px;
    }
    .text {
        padding-left: 45px;
        line-height: 22px;
    }
    .padding-four-icon{
        padding: 15px 0 40px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
    }
    .text-icon{
        padding: 10px 0 0 0;
    }
    .mapOverlay{
        height: 370px;
    }
    .map-text{
        line-height: 30px;
        padding: 25% 5% 0 5%;
    }
    .map-subtext{
        line-height: 30px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 50px 0 20px 120px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 60px 35px 0;
    }
    .img-blogs {
        max-width: 400px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 500px;
        font-size: 11px;   
        padding: 0 0 10px 0;
    }
    .img-middle{
        text-align: center;
    }
    .text-middle{
        justify-content: center;
        height: auto;
    }
    .padding-service{
        padding: 40px 0 10px 0;
    }
    .text-service{
        padding: 0 10% 0px 10%;
        line-height: 25px;
    }
    .padding-Invest {
        padding: 50px 0 15px 0;
    }
    .text-invest {
        padding: 5px 0 0 0;
    }
    .title-invest {
        font-size: 13px;
        padding: 15px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 20px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 140px;
    }
    .title {
        line-height: 50px;
    }
    .subtitle {
        line-height: 25px;
    }
    .text {
        line-height: 20px;
    }
    .padding-four-icon{
        padding: 15px 0 40px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
        font-weight: bold;
    }
    .text-icon{
        padding: 10px 0 0 0;
    }
    .padding-blog {
        padding: 40px 0 20px 110px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 60px 35px 0;
    }
    .mapOverlay{
        height: 310px;
    }
    .map-text{
        line-height: 30px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 30px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .img-blogs {
        max-width: 400px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 450px;
        font-size: 14px;
        padding: 0 0 10px 20px;
    }
    .padding-service{
        padding: 30px 0 0px 0;
    }
    .text-service{
        padding: 0 10% 0px 10%;
        line-height: 15px;
    }
    .padding-Invest {
        padding: 40px 0 10px 0;
    }
    .text-invest {
        font-size: 1.4vw;
        padding: 5px 0 0 0;
    }
    .title-invest {
        font-size: 1.7vw;
        padding: 25px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 20px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 736px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 80%;
    }
    .title {
        line-height: 20px;
    }
    .text {
        line-height: 18px;
    }
    .padding-four-icon{
        padding: 15px 0 30px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
    }
    .text-icon{
        padding: 10px 0 0 0;
    }
    .mapOverlay{
        height: 300px;
    }
    .map-text{
        line-height: 25px;
        padding: 20% 5% 0 5%;
    }
    .map-subtext{
        line-height: 25px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 40px 0 20px 75px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 25px 20px 0;
    }
    .img-blogs {
        max-width: 400px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 490px;
        padding: 0 0 10px 0;
    }
    .text-service{
        padding: 0 10% 0px 10%;
        line-height: 15px;
    }
    .padding-service {
        padding: 40px 0 10px 0;
    }
    .padding-Invest {
        padding: 40px 0 20px 0;
    }
    .text-invest {
        font-size: 11px;
        padding: 5px 0 0 0;
    }
    .title-invest {
        padding: 20px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .checkmark {
        width: 20px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 667px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 130px;
    }
    .title {
        line-height: 30px;
    }
    .subtitle {
        line-height: 20px;
    }
    .text {
        padding: 10px 0px 0px 20px;
        line-height: 15px;
    }
    .padding-four-icon{
        padding: 15px 0 30px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
    }
    .text-icon{
        padding: 5px 0 0 0;
    }
    .mapOverlay{
        height: 280px;
    }
    .map-text{
        line-height: 30px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 30px;
    }
    .padding-blog {
        padding: 40px 0 20px 115px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 70px 30px 0;
    }
    .img-blogs {
        max-width: 400px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        padding: 0 0px 10px 12px;
    }
    .padding-Invest {
        padding: 40px 0 10px 0;
    }
    .text-invest {
        padding: 10px 0 0 0;
    }
    .title-invest {
        padding: 20px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 15px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .img-carousel {
        height: 250px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 100px;
    }
    .title {
        line-height: 20px;
    }
    .subtitle {
        line-height: 15px;
    }
    .text {
        line-height: 15px;
    }
    .padding-four-icon{
        padding: 10px 0 25px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
    }
    .text-icon{
        padding: 5px 0 0 0;
    }
    .mapOverlay{
        height: 240px;
    }
    .map-text{
        line-height: 25px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 25px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 40px 0 20px 115px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 75px 20px 0;
    }
    .img-blogs {
        width: 350px;
        height: auto;
    }
    .text-blogs {
        max-width: 400px;
        padding: 0 0 10px 0;
    }
    .padding-Invest {
        padding: 40px 0 15px 0;
    }
    .text-invest {
        font-size: 8px;
        padding: 5px 0 0 0;
    }
    .title-invest {
        font-size: 10px;
        padding: 15px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 15px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .img-carousel {
        height: 180px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title {
        padding-top: 40px;
        line-height: 20px;
    }
    .subtitle {
        line-height: 10px;
    }
    .text {
        line-height: 10px;
    }
    .padding-four-icon{
        padding: 10px 0 20px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
    }
    .text-icon{
        padding: 5px 0 0 0;
    }
    .mapOverlay{
        height: 190px;
    }
    .map-text{
        line-height: 20px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 20px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 20px 0 10px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 37px 13px 0;
    }
    .img-blogs {
        max-width: 270px;
        height: auto;
    }
    .text-blogs {
        max-width: 320px;
        font-size: 9px;
        padding: 0 0px 10px 0px;
    }
    .text-service{
        line-height: 10px;
    }
    .padding-Invest {
        padding: 20px 0 10px 0;
    }
    .text-invest {
        padding: 5px 0 0 0;
    }
    .title-invest {
        font-size: 9px;
        padding: 10px 0 0 0;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .checkmark {
        width: 15px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .img-carousel {
        height: 180px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 80px;
    }
    .title {
        padding-top: 30px;
        line-height: 15px;
    }
    .text {
        padding-left: 10px;
        padding-top: 5px;
        line-height: 10px;
        font-size: 1vw;
    }
    .padding-four-icon{
        padding: 10px 0 15px 0;
    }
    .title-icon{
        padding: 5px 0 0 0;
    }
    .text-icon{
        padding: 5px 0 0 0;
    }
    .mapOverlay{
        height: 170px;
    }
    .map-text{
        line-height: 15px;
        padding: 16% 5% 0 5%;
    }
    .map-subtext{
        line-height: 15px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 20px 0 10px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 40px 1px 0;
    }
    .img-blogs {
        max-width: 200px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 280px;
        font-size: 8px;   
        padding: 0 0 10px 0;
    }
    .text-service{
        padding: 0 10% 0px 10%;
        line-height: 10px;
    }
    .padding-service {
        padding: 20px 0 5px 0;
    }
    .padding-Invest {
        padding: 20px 0 10px 0;
    }
    .text-invest {
        font-size: 7px;
        padding: 5px 0 0 0;
    }
    .title-invest {
        padding: 10px 0 0 0;
        font-size: 8px;
    }
    .padding-btn {
        padding: 10px 0 10px 0;
    }
    .checkmark {
        width: 10px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .img-carousel {
        height: 150px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -20px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 80px;
    }
    .title {
        line-height: 15px;
    }
    .subtitle {
        line-height: 12px;
    }
    .text {
        line-height: 8px;
    }
    .title-icon{
        padding: 5px 0 0 0;
    }
    .text-icon{
        font-size: 3px;
        padding: 0 0 0 0;
    }
    .mapOverlay{
        height: 160px;
    }
    .map-text{
        line-height: 15px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 15px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 20px 0 10px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 45px 12px 0;
    }
    .img-blogs {
        max-width: 250px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 280px;
        font-size: 9px;   
        padding: 0 0 10px 0;
    }
    .padding-Invest {
        padding: 20px 0 5px 0;
    }
    .text-invest {
        font-size: 6px;
        padding: 5px 0 0 0;
    }
    .title-invest {
        font-size: 7px;
        padding: 10px 0 0 0;
    }
    .padding-btn {
        padding: 10px 0 10px 0;
    }
    .checkmark {
        width: 10px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .img-carousel {
        height: 150px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -20px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title-image{
        width: 60%;
        width: 60px;
    }
    .title {
        line-height: 10px;
    }
    .text {
        line-height: 8px;
    }
    .padding-four-icon{
        padding: 15px 0 15px 0;
    }
    .title-icon{
        padding: 5px 0 0 0;
    }
    .text-icon{
        padding: 3px 0 0 0;
    }
    .mapOverlay{
        height: 140px;
    }
    .map-text{
        line-height: 15px;
        padding: 15% 5% 0 5%;
    }
    .map-subtext{
        line-height: 15px;
        padding: 0 5% 0 5%;
        color: white;
    }
    .padding-blog {
        padding: 20px 0 10px 45px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 20px 12px 0;
    }
    .img-blogs {
        max-width: 200px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        max-width: 250px;
        padding: 0px 0px 10px 0px;
    }
    .padding-Invest {
        padding: 20px 0 5px 0;
    }
    .text-invest {
        font-size: 5px;
        padding: 5px 0 0 0;
    }
    .title-invest {
        padding: 5px 0 0 0;
        font-size: 7px;
    }
    .padding-btn {
        padding: 10px 0 10px 0;
    }
    .padding-checkmark {
        padding: 0 5px 0 0;
    }
    .checkmark {
        width: 10px;
    }
    .Hide {
        display: none;
    }
}