.Seemore {
    font-weight: bold;
    color: #4d82b4;
}

.Seemore:visited {
    font-weight: bold;
    color: #4d82b4;
}

a.facebookmorelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

.facebookseemore {
    width: 400px;
    margin: 10px;
}

.view-all {
    color: black;
}

.view-all:hover {
    color: black;
}

/* div{
    border: dashed;
} */

.img-carousel {
    height: 700px;
    overflow: hidden;
}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.carousel-padding {
    padding: 20px;
}

.carousel-indicators .active {
    background-color: #FF3D3B;
}

.padding-branches {
    padding: 10px 0 10px 0;
}

.padding-word {
    padding: 100px 0 35px 270px;
}

.title {
    font-weight: 900;
    font-size: 3.5vw;
    line-height: 70px;
}

.text {
    padding: 25px 0px 25px 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vw;
    line-height: 60px;
    display: flex;
}
.img-washing {
    width: 70%;
    padding: 50px 0 0 0;
    max-width: 1040px;
}
.padding-four-icon{
    padding: 40px 0 100px 0;
}
.title-icon{
    padding: 35px 0 0 0;
    font-size: 25.5px;
    font-weight: bold;
}
.text-icon{
    padding: 20px 0 0 0;
    font-size: 25.5px;
}
.mapOverlay{
    background-image: url("../images/img-map.png");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: red;
}
.color-overlay {
    float: right;
    opacity: 0.6; 
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
}
.map-text{
    font-weight: bold;
    float: right;
    font-weight: 900;
    font-size: 2.2vw;
    line-height: 80px;
    padding: 30% 5% 0 5%;
    color: white;
}
.padding-blog {
    padding: 100px 0 60px 295px;
}
.view-btn {
    padding: 0 130px 60px 0;
    font-weight: 900;
    font-size: 1.5vw;
}
.padding-img-blogs {
    padding: 10px 0 50px 0;
}
.img-blogs {
    padding: 0 0 0 100px;
}
.text-blogs {
    font-size: 23px;
    width: 85%;
    padding: 55px 0 80px 80px;
}
.padding-Invest {
    padding: 60px 0 30px 0;
}
.text-invest {
    font-size: 2vw;
    padding: 40px 45px 0 0;
}
.title-invest {
    padding-top: 37px;
    font-size: 2.5vw;
}
.padding-btn {
    padding: 75px 0 60px 0;
}
.Learnmore-btn {
    color: white;
    background: #6dcff6;
    font-weight: 900;
    font-size: 36px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
}
.padding-checkmark {
    padding: 0 50px 0 0;
}

@media only screen and (max-width: 1440px) {
    .padding-word {
        padding: 80px 0 30px 180px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title {
        font-weight: 900;
        font-size: 65px;
        line-height: 50px;
    }
    .text {
        padding: 30px 0 0 70px;
        font-size: 30px;
        line-height: 55px;
    }
    .padding-four-icon{
        padding: 40px 0 70px 0;
    }
    .title-icon{
        padding: 25px 0 0 0;
        font-size: 19px;
        font-weight: bold;
    }
    .text-icon{
        padding: 15px 0 0 0;
        font-size: 19px;
    }
    .mapOverlay{
        height: 650px;
    }
    .map-text{
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 120px 0 85px 250px;
    }
    .padding-img-blogs {
        padding: 0 0 40px 0;
    }
    .view-btn {
        padding: 0 100px 70px 0;
        font-weight: 900;
        font-size: 26px;
    }
    .img-blogs {
        width: 500px;
        height: 400px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 26px;
        width: 100%;
        padding: 10px 110px 25px 90px;
    }
    .text-invest {
        font-size: 34px;
        padding: 40px 45px 0 0;
    }
    .title-invest {
        padding: 30px 0 0 0;
        font-size: 45px;
    }
    .padding-Invest {
        padding: 120px 0 50px 0;
    }
}

@media only screen and (max-width: 1366px) {
    .padding-word {
        padding: 80px 0 30px 150px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 90%;
    }
    .title {
        font-weight: 900;
        font-size: 60px;
        line-height: 50px;
    }
    .text {
        padding: 30px 0 0 70px;
        font-size: 27px;
        line-height: 50px;
    }
    .padding-four-icon{
        padding: 50px 0 70px 0;
    }
    .title-icon{
        padding: 25px 0 0 0;
        font-size: 18px;
        font-weight: bold;
    }
    .text-icon{
        padding: 15px 0 0 0;
        font-size: 18px;
    }
    .mapOverlay{
        height: 600px;
    }
    .map-text{
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 120px 0 85px 250px;
    }
    .padding-img-blogs {
        padding: 0 0 40px 0;
    }
    .view-btn {
        padding: 0 100px 70px 0;
        font-weight: 900;
        font-size: 26px;
    }
    .img-blogs {
        width: 500px;
        height: 400px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 26px;
        width: 100%;
        padding: 10px 110px 25px 90px;
    }
    .text-invest {
        font-size: 34px;
        padding: 40px 45px 0 0;
    }
    .title-invest {
        padding: 30px 0 0 0;
        font-size: 45px;
    }
    .padding-Invest {
        padding: 120px 0 50px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .img-carousel {
        height: 500px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 80px 0 10px 140px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 80%;
    }
    .title {
        font-weight: 900;
        font-size: 45px;
        line-height: 50px;
    }
    .text {
        padding: 30px 0 0 55px;
        font-size: 18px;
        line-height: 37px;
    }
    .padding-four-icon{
        padding: 50px 0 50px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
        font-size: 13px;
        font-weight: bold;
    }
    .text-icon{
        padding: 10px 0 0 0;
        font-size: 13px;
    }
    .mapOverlay{
        height: 450px;
    }
    .map-text{
        line-height: 50px;
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 100px 0 55px 200px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 50px 50px 0;
        font-weight: 900;
        font-size: 25px;
    }
    .img-blogs {
        width: 890px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 26px;
        width: 100%;
        padding: 10px 25px 10px 25px;
    }
    .padding-Invest {
        padding: 100px 0 20px 0;
    }
    .text-invest {
        font-size: 25px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 30px 0 0 0;
        font-size: 35px;
    }
    .padding-btn {
        padding: 35px 0 20px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 28px;
        height: 75px;
        width: 350px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 20px 0 0;
    }
    .checkmark {
        width: 50px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 812px) {
    .img-carousel {
        height: 350px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 50px 0 20px 80px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 100%;
    }
    .title {
        font-weight: 900;
        font-size: 42px;
        line-height: 50px;
    }
    .text {
        padding: 20px 0 0 30px;
        font-size: 21px;
        line-height: 28px;
    }
    .padding-four-icon{
        padding: 15px 0 40px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
        font-size: 10px;
        font-weight: bold;
    }
    .text-icon{
        padding: 10px 0 0 0;
        font-size: 10px;
    }
    .mapOverlay{
        height: 370px;
    }
    .map-text{
        line-height: 50px;
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 80px 0 50px 180px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 60px 45px 0;
        font-weight: 900;
        font-size: 20px;
    }
    .img-blogs {
        width: 700px;
        height: 480px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 23px;
        width: 100%;
        padding: 0 70px 10px 20px;
    }
    .padding-Invest {
        padding: 80px 0 20px 0;
    }
    .text-invest {
        font-size: 28px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 30px;
    }
    .padding-btn {
        padding: 20px 0 40px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 22px;
        height: 55px;
        width: 250px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 40px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 50px 0 10px 80px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 100%;
    }
    .title {
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
    }
    .text {
        padding: 20px 0 0 30px;
        font-size: 15px;
        line-height: 28px;
    }
    .padding-four-icon{
        padding: 15px 0 40px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
        font-size: 9.5px;
        font-weight: bold;
    }
    .text-icon{
        padding: 10px 0 0 0;
        font-size: 9.5px;
    }
    .padding-blog {
        padding: 80px 0 50px 180px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 60px 55px 0;
        font-weight: 900;
        font-size: 18px;
    }
    .img-blogs {
        width: 650px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 19px;
        width: 100%;
        padding: 0 70px 10px 20px;
    }
    .padding-Invest {
        padding: 80px 0 20px 0;
    }
    .text-invest {
        font-size: 20px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 30px;
    }
    .padding-btn {
        padding: 20px 0 40px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 22px;
        height: 55px;
        width: 250px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 35px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 736px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 50px 0 20px 80px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 80%;
    }
    .title {
        font-weight: 900;
        font-size: 37px;
        line-height: 50px;
    }
    .text {
        padding: 0px 0 0 50px;
        font-size: 12px;
        line-height: 27px;
    }
    .padding-four-icon{
        padding: 15px 0 30px 0;
    }
    .title-icon{
        padding: 15px 0 0 0;
        font-size: 9px;
        font-weight: bold;
    }
    .text-icon{
        padding: 10px 0 0 0;
        font-size: 9px;
    }
    .padding-blog {
        padding: 80px 0 50px 145px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 25px 55px 0;
        font-weight: 900;
        font-size: 18px;
    }
    .img-blogs {
        width: 630px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 17px;
        width: 100%;
        padding: 0 70px 10px 12px;
    }
    .padding-Invest {
        padding: 80px 0 20px 0;
    }
    .text-invest {
        font-size: 18px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 27px;
    }
    .padding-btn {
        padding: 20px 0 20px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 22px;
        height: 55px;
        width: 250px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 40px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 667px) {
    .img-carousel {
        height: 300px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 50px 0 20px 60px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 100%;
    }
    .title {
        font-weight: 900;
        font-size: 32px;
        line-height: 50px;
    }
    .text {
        padding: 0px 0px 0px 20px;
        font-size: 12px;
        line-height: 25px;
    }
    .padding-four-icon{
        padding: 15px 0 30px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
        font-size: 8px;
        font-weight: bold;
    }
    .text-icon{
        padding: 5px 0 0 0;
        font-size: 8px;
    }
    .mapOverlay{
        height: 300px;
    }
    .map-text{
        line-height: 30px;
        padding: 30% 5% 0 5%;
    }
    .padding-blog {
        padding: 80px 0 20px 115px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 25px 30px 0;
        font-weight: 900;
        font-size: 15px;
    }
    .img-blogs {
        width: 565px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 18px;
        width: 100%;
        padding: 0 70px 10px 12px;
    }
    .padding-Invest {
        padding: 80px 0 20px 0;
    }
    .text-invest {
        font-size: 18px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 25px;
    }
    .padding-btn {
        padding: 20px 0 40px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 22px;
        height: 55px;
        width: 250px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 40px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .img-carousel {
        height: 250px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 50px 0 10px 45px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 100%;
    }
    .title {
        font-weight: 900;
        font-size: 30px;
        line-height: 50px;
    }
    .text {
        padding: 0px 0px 0px 20px;
        font-size: 10px;
        line-height: 23px;
    }
    .padding-four-icon{
        padding: 10px 0 25px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
        font-size: 7px;
        font-weight: bold;
    }
    .text-icon{
        padding: 5px 0 0 0;
        font-size: 7px;
    }
    .mapOverlay{
        height: 280px;
    }
    .map-text{
        line-height: 30px;
        padding: 30% 5% 0 5%;
    }
    .padding-blog {
        padding: 80px 0 30px 115px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 25px 40px 0;
        font-weight: 900;
        font-size: 15px;
    }
    .img-blogs {
        width: 90%;
        height: auto;
    }
    .text-blogs {
        font-size: 15px;
        width: 100%;
        padding: 0 70px 10px 0px;
    }
    .padding-Invest {
        padding: 80px 0 0px 0;
    }
    .text-invest {
        font-size: 15px;
        padding: 30px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 25px;
    }
    .padding-btn {
        padding: 20px 0 40px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 22px;
        height: 55px;
        width: 250px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 30px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .img-carousel {
        height: 180px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 10px 0 0 30px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 85%;
    }
    .title {
        font-weight: 900;
        font-size: 25px;
        line-height: 50px;
    }
    .text {
        padding: 0 0 0 10px;
        font-size: 10px;
        line-height: 16px;
    }
    .padding-four-icon{
        padding: 10px 0 20px 0;
    }
    .title-icon{
        padding: 10px 0 0 0;
        font-size: 5px;
        font-weight: bold;
    }
    .text-icon{
        padding: 5px 0 0 0;
        font-size: 5px;
    }
    .padding-blog {
        padding: 40px 0 20px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 20px 30px 0;
        font-weight: 900;
        font-size: 9px;
    }
    .img-blogs {
        width: 370px;
        height: 220px;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 12px;
        width: 100%;
        padding: 0 35px 0px 0px;
    }
    .padding-Invest {
        padding: 15px 0 0 0;
    }
    .text-invest {
        font-size: 13px;
        padding: 20px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 25px;
    }
    .padding-btn {
        padding: 20px 0 10px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 17px;
        height: 45px;
        width: 200px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 15px 0 0;
    }
    .checkmark {
        width: 20px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .img-carousel {
        height: 180px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -15px;
    }
    .padding-word {
        padding: 10px 0 0 40px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 85%;
    }
    .title {
        font-weight: 900;
        font-size: 19px;
        line-height: 50px;
    }
    .text {
        padding: 0 0 0 10px;
        font-size: 7px;
        line-height: 16px;
    }
    .padding-four-icon{
        padding: 10px 0 15px 0;
    }
    .title-icon{
        padding: 5px 0 0 0;
        font-size: 4.5px;
        font-weight: bold;
    }
    .text-icon{
        padding: 5px 0 0 0;
        font-size: 4.5px;
    }
    .mapOverlay{
        height: 170px;
    }
    .map-text{
        line-height: 20px;
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 30px 0 10px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 20px 25px 0;
        font-weight: 900;
        font-size: 9px;
    }
    .img-blogs {
        width: 335px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 12px;
        width: 100%;
        padding: 0 35px 0px 0px;
    }
    .padding-Invest {
        padding: 15px 0 0 0;
    }
    .text-invest {
        font-size: 10px;
        padding: 20px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 15px;
    }
    .padding-btn {
        padding: 20px 0 10px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 17px;
        height: 45px;
        width: 200px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 15px 0 0;
    }
    .checkmark {
        width: 20px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .img-carousel {
        height: 150px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -20px;
    }
    .padding-word {
        padding: 10px 0 0 30px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 85%;
    }
    .title {
        font-weight: 900;
        font-size: 17px;
        line-height: 50px;
    }
    .text {
        padding: 0 0 0 10px;
        font-size: 7px;
        line-height: 13px;
    }
    .title-icon{
        padding: 5px 0 0 0;
        font-size: 4px;
        font-weight: bold;
    }
    .text-icon{
        padding: 5px 0 0 0;
        font-size: 4px;
    }
    .mapOverlay{
        height: 180px;
    }
    .map-text{
        line-height: 20px;
        padding: 30% 5% 0 5%;
    }
    .padding-blog {
        padding: 20px 0 10px 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 20px 23px 0;
        font-weight: 900;
        font-size: 10px;
    }
    .img-blogs {
        width: 300px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 11px;
        width: 100%;
        padding: 0 30px 0px 0px;
    }
    .padding-Invest {
        padding: 15px 0 0 0;
    }
    .text-invest {
        font-size: 9px;
        padding: 15px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 13   px;
    }
    .padding-btn {
        padding: 20px 0 40px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 15px;
        height: 35px;
        width: 180px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 10px 0 0;
    }
    .checkmark {
        width: 15px;
    }
    .Hide {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .img-carousel {
        height: 150px;
        overflow: hidden;
    }
    .carousel-indicators li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: -20px;
    }
    .padding-word {
        padding: 10px 0 0 20px;
    }
    .img-washing {
        padding: 25px 0 0 0;
        width: 100%;
    }
    .title {
        font-weight: 900;
        font-size: 20px;
        line-height: 45px;
    }
    .text {
        padding: 0 0 0 5px;
        font-size: 6px;
        line-height: 13px;
    }
    .padding-four-icon{
        padding: 15px 0 15px 0;
    }
    .title-icon{
        padding: 5px 0 0 0;
        font-size: 3px;
        font-weight: bold;
    }
    .text-icon{
        padding: 3px 0 0 0;
        font-size: 3px;
    }
    .mapOverlay{
        height: 140px;
    }
    .map-text{
        line-height: 15px;
        padding: 25% 5% 0 5%;
    }
    .padding-blog {
        padding: 20px 0 0 70px;
    }
    .padding-img-blogs {
        padding: 0 0 0 0;
    }
    .view-btn {
        padding: 0 20px 12px 0;
        font-weight: 900;
        font-size: 10px;
    }
    .img-blogs {
        width: 240px;
        height: auto;
        padding: 0 0 0 0;
    }
    .text-blogs {
        font-size: 11px;
        width: 100%;
        padding: 0px 25px 0px 0px;
    }
    .padding-Invest {
        padding: 15px 0 0 0;
    }
    .text-invest {
        font-size: 8px;
        padding: 15px 0 0 0;
    }
    .title-invest {
        padding: 15px 0 0 0;
        font-size: 15px;
    }
    .padding-btn {
        padding: 20px 0 10px 0;
    }
    .Learnmore-btn {
        color: white;
        background: #6dcff6;
        font-weight: 900;
        font-size: 12px;
        height: 35px;
        width: 130px;
        border-radius: 50px;
    }
    .padding-checkmark {
        padding: 0 5px 0 0;
    }
    .checkmark {
        width: 10px;
    }
    .Hide {
        display: none;
    }
}