<%- include(`../partials/header`); -%>

    <main class="col">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="container mt-4">
                    <h1 class="topic lang" key="we-Here"><b>We're Here</b></h1>
                    <h3 class="office mt-3 lang" key="ourOffice"><b>Our Office</b></h3>

                    <div class="col-xl-9 col-md-12 col-sm-12">
                        <h5 class="address"><span class="lang" key="address">35/35 Moo. 12 Tambon Bang Phli Yai, Bang Phli District,Samut Prakan 10540 Thailand
                        </span></h5>
                        <img src="images/thai.png" class="icon-thai">
                    </div>
                    <div class="row mt-3">
                        <a href="tel:+6683443522">
                            <i class="fas fa-phone-square-alt contact-icon"></i></a>
                        <div class="col">
                            <h5 class="address tel-padding">083 443 5222</h5>
                        </div>
                    </div>
                    <div class="row align-items-center margin-logo">
                        <div class=""></div>
                        <a href="https://www.facebook.com/SpeedWashLaundryTH/">
                            <i class="fab fa-facebook-square contact-icon"></i>
                        </a>
                        <i class="fab fa-instagram-square contact-icon "></i>
                        <i class="fab fa-line contact-icon "></i>
                        <div class="col">
                            <div style="text-align:right;">
                                <img src="images/img-washingmachine.png" alt="" class="machine">
                            </div>
                        </div>
                    </div>
                    <!-- map -->
                </div>
                <div class="map-contact-padding">
                    <div class="contact-map" id="map-contact"></div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12 bgred">
                <div class="container mt-4">
                    <h1 class="topic"><b class="reach lang" key="reachUs">Reach Us.</b></h1>
                    <h3 class="share share-x ml-3 lang" key="ask">Share your experience or ask us questions</h3>
                    <h5 class="share share-x ml-3"> phajidathailand@gmail.com <span style='font-size:32px;'>&#8594;</span>
                    </h5>
                    <div class="row input-padding">
                        <div class="container justify-center">
                            <form action="sendemail" method="POST">
                                <input class="custom-control form-control-lg mt-3 input col" type="text" name="Name" placeholder="Name"></input>
                                <input class="custom-control form-control-lg mt-4 input col" type="email" name="Email" placeholder="Email"></input>
                                <textarea class="custom-control form-control-lg textarea mt-4 input col input-qeustion" type="text" name="Text" placeholder="Question" rows="10"></textarea>
                                <div class="text-center button mt-5 pb-3 hover">
                                    <button class="button button1 lang" key="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include(`../partials/footer`); -%>