<%- include(`../partials/header`); -%>

    <main class="col">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="container mt-4">
                    <h1 class="topic"><b>We're Here</b></h1>
                    <h3 class="office mt-3"><b>Our Office</b></h3>
                    <div class="col-xl-8 col-md-12 col-sm-12">
                        <h5 class="address"> 35/35 Moo. 12 Tambon Bang Phli Yai,
                            Bang Phli District,Samut Prakan 10540 Thailand <img class="thai-icon" src="images/thai.png"
                                alt="" class="thai">
                        </h5>
                    </div>
                    <div class="row mt-3"><a href="tel:+6683443522">
                            <i class="fas fa-phone-square-alt contact-icon"></i></a>
                        <div class="col">
                            <h5 class="address tel-padding">083 443 5222</h5>
                        </div>
                    </div>
                    <div class="row align-items-center margin-logo">
                        <div class=""></div>
                        <a href="https://www.facebook.com/SpeedWashLaundryTH/">
                            <i class="fab fa-facebook-square contact-icon"></i>
                        </a>
                        <i class="fab fa-instagram-square contact-icon "></i>
                        <i class="fab fa-line contact-icon "></i>
                        <div class="col">
                            <div style="text-align:right;">
                                <img src="images/img-washingmachine.png" alt="" class="machine">
                            </div>
                        </div>
                    </div>
                    <!-- map -->
                </div>
                <div class="map-contact-padding">
                    <div class="contact-map" id="map"></div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12 bgred">
                <div class="container mt-4">
                    <h1 class="topic"><b class="reach">Reach Us.</b></h1>
                    <h3 class="share share-x ml-3">Share your experience or ask us questions</h3>
                    <h5 class="share share-x ml-3"> phajidathailand@gmail.com <span
                            style='font-size:32px;'>&#8594;</span>
                    </h5>
                    <div class="row input-padding">
                        <div class="container justify-center">
                            <form action="sendemail" method="POST">
                                <input class="custom-control form-control-lg mt-3 input col" type="text" name="Name"
                                    placeholder="Name"></input>
                                <input class="custom-control form-control-lg mt-4 input col" type="email" name="Email"
                                    placeholder="Email"></input>
                                <textarea class="custom-control form-control-lg textarea mt-4 input col input-qeustion"
                                    type="text" name="Text" placeholder="Question" rows="10"></textarea>
                                <div class="text-center button mt-5 pb-3 hover">
                                    <button class="button button1">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- google map -->
    <script>
        (function (exports) {
            "use strict";
            function initMap() {
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 10.5,
                    center: new google.maps.LatLng(13.645418, 100.679751),
                    mapTypeId: "terrain",
                });
            <% dataMap.values.forEach(function (post) {
                    if (post[6]) {%>
                        var latLng = new google.maps.LatLng(<%=post[6] %>, <%=post[7] %>);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                        });
                        marker.addListener("click", function () {
                            infowindow.open(map, marker);
                        });
            <% }
                });%>
        }
            exports.initMap = initMap;
        })((this.window = this.window || {}));
    </script>

<%- include(`../partials/footer`); -%>